:root {
  --main-font: "Mukta", sans-serif;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh;
}

/* Center the container and add some padding */
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 3rem;
  width: 30vw;
  margin: 0 auto;
  background-color: #f4f4f4; /* Light gray background color */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.no-underline {
  color: #2f56b0;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s ease-out;
}

.no-underline::after {
  border-radius: 1em;
  border-top: 1em solid #2f56b0;
  position: absolute;
  text-decoration: underline;
  right: 100%;
  bottom: 14em;
  left: 0;
  transition: right 0.6s;
}

.no-underline:hover {
  color: #457dfb;
  transition: 0.6s ease-out;
}

.no-underline:hover::after {
  color: #457dfb;
  right: 0;
}

/* Customize form input styles */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the "Submit" button */
.btn-primary {
  background-color: #2f56b0; /* Royal blue button color */
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #457dfb; /* Lighter blue on hover */
}

/* Add some space between form elements */
.form-row {
  margin-bottom: 10px;
}

.btn-submit {
  background: #457dfb;
  cursor: pointer;
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  padding: 0.25rem;
}
.btn-submit:hover {
  background: #588cfe;
  transition: background-color 0.1s ease-in-out;
}

.btn-nextpage {
  color: white;
  background-color: #457dfb;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  font-size: 1.15rem;
  margin-top: 1rem;
  padding: 0.1rem 0.75rem;
}

.btn-nextpage:hover {
  background: #588cfe;
  transition: background-color 0.1s ease-in-out;
}

.selected-text {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  color: #fff;
  border-radius: 0.2em;
  margin: 0.5em;
  width: auto;
}

.confirmationContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.passwordShowContainer {
  display: flex;
  flex-direction: row;
}

.infoSubContainer {
  border: 1px black solid;
  border-radius: 0.5rem;
  background-color: rgb(229, 229, 229);
  padding: 0.25rem;
  width: 50%;
  height: 1.5rem;
}

.parentContainer {
  width: 100%;
  margin: 1rem 0rem;
}

.infoContainer {
  position: relative;
  width: 100%;
}

.btn-confirm {
  font-size: 1rem;
  padding: 0.5rem;
}
